h1 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.mainUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  background-color: #17141d;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  outline: 2px solid #179cf0;
  box-shadow: #179cf0 0px 19px 38px, #179cf0 0px 15px 12px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
}

.card {
  box-shadow: -1rem 0 3rem #000;
  background-color: #17141d;
  color: white;
  width: 350px;
  margin: 20px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card:hover {
  outline: 2px solid #179cf0;
}

.twitter-logo {
  display: -webkit-box;
  margin-left: auto;
  height: auto;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.profile-picture {
  width: 140px;
  height: auto;
  border-radius: 50%;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
}

.name-id {
  text-align: right;
}

.id {
  text-decoration: underline;
}

.name {
  text-align: center;
}

button {
  background-color: #1d9bf0;

  border: 1px solid #1d9bf0;
  color: white;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
}

.button-parent {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  text-align: center;
}
