@using Contentful.Core.Models;
@using Newtonsoft.Json

@model ContentfulCollection<TwitterUser>

    @{var followers_counter = 0;}
    
    <div class="mainUser">
        <img class="twitter-logo" src="/images/Twitter_logo.png" alt="Twitter Logo">
        <img class="profile-picture" src="/images/avatar.PNG" alt="logo">
        <h4 class="name">Elias Grinwis Plaat Stultjes</h4>
        <div class="flex">
            <div>   
                <p>Username:</p>
                <p>Id:</p>
            </div>
            <div class="name-id">
                <p>@@EliasGrinwis</p>
                <p class="id">1488143836597657605</p>
            </div>
        </div>
        <div class="button-parent">
            <a href="https://twitter.com/EliasGrinwis">
                <button>
                    PROFILE
                </button>
            </a>
        </div>
    </div>

    @foreach (var item in Model)
    {
        followers_counter++;
    }

    <h1>Twitter Followers (@followers_counter)</h1>

    <div class="header">
    @foreach (var card in Model)
    {
    var jsonString = JsonConvert.SerializeObject(@card.profilePicture);
    var profileImage = JsonConvert.DeserializeObject<dynamic>(jsonString);

    if (profileImage == null)
    {
        profileImage = "/images/avatar.PNG";
    }
    
    <div class="card">
        <img class="twitter-logo" src="/images/Twitter_logo.png" alt="Twitter Logo">
        <img class="profile-picture" src="@profileImage.fields.file.url" alt="logo">
        <h4 class="name">@card.name</h4>
        <div class="flex">
            <div>   
                <p>Username:</p>
                <p>Id:</p>
            </div>
            <div class="name-id">
                <p>@@@card.username</p>
                <p class="id">@card.id</p>
            </div>
        </div>
        <div class="button-parent">
            <a href="https://twitter.com/@card.username">
                <button>
                    PROFILE
                </button>
            </a>
        </div>
    </div>
    }
    </div>
